{% extends 'trainer/base.html' %}

 {% block content %}
 <center><h1> Model is TRAINING...</h1></center>
 {% comment %}
<div>
    
    <div class="container">
        <progress id="file" max="100" value="70"> 70% </progress>
    </div>
    <div id="progress-wrapper">
        <div id="progress-bar" style="background-color: blue; width: 0%;">&nbsp;</div>
        <div id="progress-bar-message">Waiting for training to start...</div>
    </div>
    <script>
        function updateProgress (progressUrl) {
            fetch(progressUrl).then(function(response) {
                response.json().then(function(data) {
                    // update the appropriate UI components

                    setProgress(data.state, data.details);
                    setTimeout(updateProgress, 500, progressUrl);
                });
            });
        }
        var progressUrl = '{% url "trainer:get_training_progress" task_id %}';  // django template usage
        updateProgress(progressUrl);
    </script>
</div>
{% endcomment %}
{% endblock %} 