<div>
    <p>Class</p>
</div>

<input id="className1" placeholder="Enter Class Name here" />

<button id="classButton1">Submit</button>

<!-- <button id="other">Submit</button> -->
<form id="class_form" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input id= "classFiles1" type="file" name="classFiles1" webkitdirectory multiple />
    <input type="submit" name="submit" value="Upload Files" />
</form>

<script>
    const className1 = document.getElementById('className1')
    const classButton1 = document.getElementById('classButton1')
    const form = document.getElementById('class_form')

    form.style.display = 'none'

    classButton1.addEventListener('click', function(event) {
    
      const name1 = className1.value;
    
      form.style.display = 'block'
    
    //   other.innerHTML = myInputValue
})
</script>
