<div>
    <h1>Setup Model:</h1>
</div>



<!-- button id="button">Submit</button> <br /><br />
<h4>Number of Classes:</h4>
<input id="classnum" placeholder="Enter Number of Classes" />
<button id="button2">Submit</button>-->


<!-- <button id="other">Submit</button> -->
<h4>Class Name:</h4>
<form id="class_form" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input name="classinput" placeholder="Enter Class Name here" /> 
    <br />
    <input type="file" name="classFiles1" webkitdirectory mozdirectory />
    <input type="submit" name="submit" value="Upload" />
</form>

<script>
    const myInput = document.getElementById('class')
    const myButton = document.getElementById('button')
    const form = document.getElementById('class_form')

    // form.style.display = 'none'

    myButton.addEventListener('click', function(event) {
    
      const myInputValue = myInput.value;
    
      form.style.display = 'block'
    
    //   other.innerHTML = myInputValue
})
</script>